body {background-color: white}
h1 {color: black;}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    margin-top: 200px;
    margin-left: 457px;
}

.sign-title {
    margin-top: 130px;
    margin-left: 357px;
}

.password-title {
    margin-top: 220px;
    margin-left: 457px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: rgb(228, 228, 228);
    border: 1px solid #ccc;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none;
    width: 150px;
    text-align: center;
}


#btn-voltar {
    position: absolute;
    top: 10px;
    left: 10px;
}

.imagem-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: gray;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

  form {
    position: absolute;
    text-align: center;
  }

  .login-container {
    width: 400px;
    height: 100px;
    background-color: rgb(228, 228, 228);
    border: 3px solid black;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 10px;
}

.input-container label {
    text-align: right;
    padding-right: 10px;
}

.input-container input {
    width: 100%;
}

.sign-container {
    width: 600px;
    height: 260px;
    background-color: rgb(228, 228, 228);
    border: 3px solid black;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.password-container {
    width: 400px;
    height: 70px;
    background-color: rgb(228, 228, 228);
    border: 3px solid black;
    padding: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}